#ignore assests

Font-Update.rtf
menu section.png
projects section.png
tools.png
workspace.code-workspace
.DS_Store
/Volumes/Natia Files (New)/Natia Files/2- Career/Web Development/1 Portfolio/2022 /resources/assets/mac ref imgs/MacPaint
