/* font-family: 'Inconsolata', monospace; */
:root {
    --mainColor: #104A61;
    --containerColor: #fff;
    --pseudoTitleBar: #B4BFAB;

    --menuColor: #F3F0E8;
    --borderColor: #B4BFAB;

    /* --mainText: #E7E9EB; */
    --mainText: #fff;
    --secondaryTextColor: #fff;
    --specialTextColor: #C5CFC2;

    --mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondaryFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --buttonColor: #C5CFC2;
}

