:root {
    /* primary */
    --mainColor: #2E8AAD;
    --menuColor: #F3F0E8;
    --borderColor: #B4BFAB;
    --buttonColor: #C5CFC2;

    /* container */
    --pseudoTitleBar: #B4BFAB;
    --containerColor: #fff;
    --containerTextColor: #000;

    /* font color */
    --mainTextColor: #181818;
    --secondaryTextColor: #fff;
    --specialTextColor: #C5CFC2;

    /* fonts */
    --defaultFont: 'Trebuchet MS', 'Helvetica', 'Roboto', sans-serif;
    --menuFont: 'Chicago', 'Gemunu Libre', sans-serif;
    --windowTitle: 'Chicago', 'Gemunu Libre', sans-serif;
}