@font-face {
    font-family: 'Chicago';
    src: url('/fonts/chicagoflf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('/fonts/segoe-ui-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('/fonts/trebuchet-ms.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS Bold';
    src: url('/fonts/trebuchet-ms-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('/fonts/helvetica-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--mainColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainTextColor);
    font-family: var(--defaultFont);
    font-weight: 100;
    margin-top: 5em;
    text-transform: uppercase;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--mainTextColor);
    font-family: var(--defaultFont);
}

a {
    text-decoration: none;
    color: #C5CFC2 !important;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

hr {
    height: 4px;
    background-color: var(--borderColor);
    border: none;
}

nav {
    margin-left: 15px;
}

.nav-item {
    color: var(--containerTextColor) !important;
    line-height: 0;
}

.nav-end span {
    font-family: var(--defaultFont);
    color: var(--containerTextColor);
}

.navbar {
    background-color: var(--menuColor);
    height: 50px;
    margin-top: 2em;
    border-top: 2px var(--borderColor) solid;
    border-bottom: 2px var(--borderColor) solid;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar a {
    font-family: var(--defaultFont);
    font-size: 17px;
    padding: 10px 10px 6px 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #C5CFC2 solid;
    transition: 0s;
}

.navbar .flex {
    justify-content: space-between;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

/* icon placeholder */
.browser-dot {
    background-color: #fff;
    border: 2px #959e8e solid;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin: 0 5px;
}

#current-date {
    margin-right: 30px;
}

#current-time {
    margin-right: 20px;
    font-weight: 100;
}

#logo {
    font-family: 'Segoe UI Bold';
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 6px;
    margin: auto 35px auto -20px;
    border-bottom: none;
}

#theme-icon {
    cursor: pointer;
    width: 24px;
    transition: 0s;
    margin: auto 15px auto 0;
}

#settings-icon {
    cursor: pointer;
    width: 22px;
    transition: 0s;
}

/* ALERT BANNER */

#alert-banner .main-container {
    height: 8em;
}

#theme-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* MAIN */

/* icon placeholder */
.browser-dot-title-bar-placeholder {
    background-color: #fff;
    border: 2px #9ea598 solid;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-left: 0.6em;
}

/* INTRO */

.greeting-wrapper {
    background-color: var(--containerColor);
    border: 3px solid var(--borderColor);
}

.skills-wrapper,
.projects-wrapper,
.contact-container {
    background-color: var(--containerColor);
    border: 3px solid var(--borderColor);
    margin: 5em auto;
}

.greeting-wrapper h1 {
    color: var(--containerTextColor);
    font-family: var(--defaultFont);
}

.greeting-wrapper p {
    color: var(--containerTextColor);
}

.greeting-wrapper {
    min-height: 700px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'greeting-toolbox greeting-box greeting-box greeting-box greeting-box'
    ;
}

.greeting-toolbox {
    grid-area: greeting-toolbox;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
}

.greeting-toolbox-wrap {
    background-color: #B4BFAB;
}

#tools-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px var(--borderColor) solid;
}

#tools-wrapper div {
    border: 1px solid #B4BFAB;
    text-align: center;
    background-color: white;
}

#tools-wrapper div:hover {
    -webkit-filter: invert(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

#tools-wrapper img {
    width: 80%;
}

.tool:hover {
    cursor: pointer;
}

#tool-guide {
    margin: 20px auto;
    width: 7em;
}

#tool-guide p:first-child {
    font-family: var(--menuFont);
}

#selected-tool {
    font-style: italic;
    font-size: 14px;
    margin-top: 3px;
    text-transform: capitalize;
}

.hidden {
    display: none !important;
}

.tags-hidden {
    display: none !important;
}

.greeting-box {
    grid-area: greeting-box;
    border-left: 3px solid var(--borderColor);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 18em 1fr;
    grid-template-rows: 1fr 18em 1fr;
    grid-template-areas:
        '. . . . prompt'
        '. . greeting-popup greeting-popup .'
    ;
    align-content: center;
}

#prompt {
    grid-area: prompt;

    cursor: pointer;
    margin-top: 1em;
}

#prompt-message {
    font-family: var(--defaultFont);
    text-transform: capitalize;
}

#greeting-popup {
    grid-area: greeting-popup;

    align-content: center;
    background-color: #F3F0E8;
    border: 2px solid var(--borderColor);
    box-shadow: 10px 10px rgb(128, 128, 128, 0.2);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2;

    display: grid;
    grid-template-rows: 1fr 13em 1fr;
    ;
}

#exit {
    cursor: pointer;
    float: right;
    margin-top: 10px;
    width: 22px;
}

.greeting-intro {
    margin: auto 0;
    text-align: center;
}

.greeting-intro h1 {
    font-family: var(--menuFont);
    text-transform: capitalize;
    margin: 0;
}

.greeting-intro span {
    color: #181818;
}

.pseudo-utility {
    display: flex;
    justify-content: space-between;
}

.pseudo-title-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--pseudoTitleBar);
    color: #181818;
    font-family: var(--windowTitle);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}

.stripes {
    background: repeating-linear-gradient(180deg,
            #9FA897 2px,
            #B4BFAB 6px,
            #9FA897 3.5px);
}

.stripes div {
    background: var(--borderColor);
    height: 100%;
}

.pseudo-sub-title-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 8px;
    padding-bottom: 5px;
    letter-spacing: 1.2px;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}

.pseudo-sub-title-bar div {
    color: #2b2c2d;
}

/* ABOUT */

.about-wrapper p {
    font-size: 16px;
    margin-top: 3em;
    line-height: 2em;
    letter-spacing: 1.5px;
}

/* SKILLS */

.skills-wrapper {
    min-height: 400px;
    width: 77%;
}

#file-window {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 1.5em auto;
    text-align: center;
}

#file-window div {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--secondaryFont);
    letter-spacing: 2px;
}

#file-window p {
    color: var(--containerTextColor);
}

.skills-folder {
    width: 4em;
}

.skills-folder:hover {
    animation: bounce 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* PROJECTS */

.projects-wrapper {
    width: 100%;
}

.pseudo-browser-toolbar {
    display: flex;
}

.browser-dot-title-bar-placeholder.projects {
    margin: auto 15px;
}

.pseudo-browser-toolbar-icons {
    display: flex;
    align-content: center;
}

.pseudo-browser-toolbar-icons div {
    border-left: 2px #B4BFAB solid;
    padding-left: 15px;
    padding-right: 15px;
}

.pseudo-browser-toolbar-icons img {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 1.2em;
}

.pseudo-dropdown {
    margin: auto 0;
}

.pseudo-dropdown select {
    border: 1px #B4BFAB solid;
    color: #2b2c2d;
    padding-right: 10px;
    height: 25px;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
}

.pseudo-sub-browser-toolbar {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10px;
}

.pseudo-sub-browser-toolbar p {
    font-family: var(--defaultFont);
    font-weight: 100px;
    color: var(--containerTextColor);
}

#project-dropdown:hover {
    border-color: red;
    transition: none !important;
    scroll-behavior: none;
    cursor: pointer;
}

.pseudo-sub-browser-toolbar span {
    color: var(--containerTextColor);
}

.flicker {
    color: red !important;
}

/* projects filter */
#project-filter {
    padding: 0 20px;
    margin: 40px auto 20px auto;
}

#project-filter ul {
    display: flex;
}

#project-filter li {
    color: var(--containerTextColor);
    font-family: var(--defaultFont);
    font-size: 1.2em;
    margin: 0 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#project-filter li:hover {
    border-bottom: 2px #C5CFC2 solid;
    cursor: pointer;
    transition: 0s;
}

.active {
    border-bottom: 2px #C5CFC2 solid;
    padding-bottom: 6px;
    transition: 0s;
}

.hashtag-active {
    color: red !important;
}

/* filter project by skillset folder */
#project-filter-skillset {
    padding: 0 35px;
    margin: 0 auto 40px auto;
}

#project-filter-skillset ul,
.project-card-about ul {
    display: flex;
}

#project-filter-skillset li {
    color: #acacac;
    font-family: var(--defaultFont);
    font-style: italic;
    font-weight: lighter;
    margin: 0 5px;
}

#project-filter-skillset li:hover {
    color: red;
    cursor: pointer;
}

/* project cards about section */
.project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 4%;
    width: 100%;
}

.project-card div {
    width: 310px;
}

.project-card-about h3 {
    color: var(--containerTextColor);
}

.project-card-about p {
    color: var(--containerTextColor);
}

.project-card-about {
    width: 300px;
}

.project-card-about h3 {
    margin: 8px auto 10px auto;
    font-family: 'Segoe UI Bold';
    font-weight: bold;
}

.project-card-about li {
    color: #acacac;
    font-family: var(--defaultFont);
    font-weight: lighter;
    margin-right: 5px;
    margin-bottom: 10px;
}

.project-card-about p {
    margin-top: 10px;
}

.tags-shown {
    flex-wrap: wrap;
}

.see-all:hover {
    color: red;
    cursor: pointer;
}

.project-card-about a {
    color: #2B5259 !important;
    font-style: italic;
    font-weight: bold;
}

.project-card-about a:hover {
    border-bottom: 2px #C5CFC2 solid;
    cursor: pointer;
    transition: 0s;
}

.learn:hover {
    animation: shift 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shift {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

.project-card-about {
    margin: 20px auto 30px auto;
}

/* CONTACT FORM */

#contact {
    margin-bottom: 10em;
}

.contact-container {
    width: 40%;
    margin: 5em auto 1em auto;
}

#resume-link a {
    color: #464646 !important;
    font-family: 'Trebuchet MS Bold';
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#resume-link a:hover {
    color: red !important;
}

.pseudo-sub-title-bar span {
    color: var(--containerTextColor);
}

.pseudo-sub-title-bar.current-status {
    grid-template-columns: 1fr;
}

.current-status:hover {
    font-style: italic;
}

.contact-wrapper {
    background-color: var(--containerColor);
    border: none;
    margin: 10px auto 0 auto;
}

#contact-form {
    display: block;
    max-width: 450px;
    min-height: 600px;
    padding: 25px;
    font-family: var(--defaultFont);
}

#contact-form label {
    color: var(--containerTextColor);
    line-height: 2.7em;
    text-transform: uppercase;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    background-color: var(--buttonColor);
    border: 2px solid var(--borderColor);
    color: #2b2c2d;
    font-size: 14px;
    transition: 0s !important;
}

.contact-wrapper .name {
    display: flex;
    justify-content: space-between;
}

textarea {
    font-style: italic;
}

.submit-btn-wrapper {
    padding: 40px 80px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--containerTextColor);
    background-color: var(--buttonColor);
    border: 1px solid var(--borderColor);
    font-family: var(--defaultFont);
    font-size: 1em;
    text-transform: uppercase;
    opacity: 0.5;
}

#submit-btn:hover {
    cursor: pointer;
}

#submission-message span {
    color: red;
    display: flex;
    justify-content: center;

}

/* FOOTER */

.footer {
    background-color: var(--menuColor);
    font-family: var(--secondaryFont);
    height: 150px;
    margin-top: 2em;
    border-top: 2px var(--borderColor) solid;

    display: flex;
    justify-content: space-between;
}

.footer .main-container {
    margin: 0;
}

.footer ul {
    display: flex;
}

.footer a {
    padding: 10px 10px 6px 10px;
    font-size: 17px;
}

.footer #logo {
    margin: 0;
}

.footer h4 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
}

.volunteer-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    height: 100%;
}

.volunteer-card {
    width: 150px;
    height: 100px;
    padding: 1.2rem;
    margin: auto 2px;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.footer-rights {
    position: relative;
    top: 50%;
    text-align: center;
    width: 300px;
}

.footer-rights a {
    color: var(--containerTextColor) !important;
}

.footer .mobile-resume {
    display: none;
}

/* INTERNAL POST PAGES */

#post h1 {
    margin-top: 0;
}

#post #code-post h1 {
    margin-top: 5em;
}

#post h1,
p,
li {
    color: var(--mainTextColor);
}

#post div.navbar-post .flex {
    justify-content: space-between;
}

#post div.navbar-post nav {
    margin: 0;
}

#post div.navbar-post #logo {
    margin: 0;
}

.project-post-wrapper,
.technologies-post-wrapper,
.showcase-post-wrapper,
.code-post-wrapper {
    margin: 3em auto;
    line-height: 2.5;
    font-size: 16px;
}

#post div#project-title-post {
    height: 200px;
}

#post div#project-title-post h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
}

section#project-post h1 {
    margin-top: 0;
}

.technologies-post-wrapper div {
    display: flex;
    flex-direction: row;
}

.technologies-post-wrapper ul {
    line-height: 3;
    list-style: circle;
    margin-left: 20px;
}

.technologies-post-wrapper ul+ul {
    margin-left: 60px;
}

.showcase-links ul {
    list-style: circle;
    line-height: 3;
    margin-left: 20px;
    margin-top: 30px;
}

.showcase-links ul li a {
    color: var(--mainTextColor) !important;
}

.showcase-links ul li a:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.showcase-cards {
    display: flex;
    justify-content: center;
}

.showcase-images-container {
    width: 80%;
    height: 80%;
    padding: 1.2rem;
    margin: auto 2px;
}

div.showcase-images-container a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#post .footer {
    margin-top: 8em;
}

#post .footer ul {
    list-style: none;
}

#post #theme-message {
    margin-top: 50px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* 404 PAGE NOT FOUND PAGE */

.page-not-found-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        'error-image error-message .'
        '. . error-restart'
    ;
    align-items: center;

    height: auto;
    width: 50%;
    background-color: var(--containerColor);
    border: 3px solid var(--borderColor);
    margin: 5em auto;
    padding-top: 20px;
}

.page-not-found-wrapper p {
    color: var(--containerTextColor);
    font-family: var(--menuFont);
    font-size: 20px;
}

#error-image {
    grid-area: error-image;
    align-self: end;
    margin-left: 20px;
}

#error-message {
    grid-area: error-message;
    line-height: 30px;
    margin: auto 10px;
}

#error-restart {
    grid-area: error-restart;
}

#error-restart:hover {
    cursor: pointer;
}

.error-restart-btn {
    border: 2px gray solid;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    text-transform: capitalize;
}

.error-restart-btn:hover {
    border-color: red;
    color: red;
}


/* COMING SOON PAGE */

.coming-soon-wrapper {
    display: grid;
    grid-template-rows: 400px 100px 100px;
    grid-template-areas:
        'coming-soon-image'
        'coming-soon-message'
        'coming-soon-restart'
    ;
    align-items: center;

    height: auto;
    width: 50%;
    background-color: var(--containerColor);
    border: 3px solid var(--borderColor);
    margin: 5em auto;
    padding-top: 20px;
    text-align: center;
}

.coming-soon-wrapper h1 {
    margin: 0;
    font-size: 44px;
}

#coming-soon-message h1,
p {
    color: var(--containerTextColor);
    font-family: var(--windowTitle);
}

.coming-soon-wrapper img {
    width: 50%;
}

#coming-soon-message p {
    margin-top: 20px;
    line-height: 35px;
    font-size: 22px;
}

.coming-soon-wrapper .error-restart-btn {
    font-size: 20px;
    align-self: center;
    margin: 0 auto;
    width: 100px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }

    #project-filter-skillset ul {
        display: flex;
        flex-wrap: wrap;
    }

    #project-filter-skillset li {
        margin-top: 10px;
    }

    .contact-container {
        width: 55%;
    }
}

@media (min-width:800px) and (max-width:1096px) {
    .project-card {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 987px) {

    nav {
        margin: 0;
    }

    .navbar #logo {
        margin-right: 0;
        font-size: 1.1em;
    }

    .navbar a {
        margin: 0;
    }

    #current-date,
    #current-time {
        display: none;
    }

    #theme-icon {
        width: 21px;
    }


    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer .main-container {
        width: auto;
        margin: 20px auto;
    }

    .footer-rights {
        margin: 20px auto;
    }

    .footer .mobile-resume {
        display: inline-block;
    }

    .page-not-found-wrapper {
        width: 95%;
    }

    .page-not-found-wrapper p {
        font-family: var(--menuFont);
        font-size: 20px;
    }

    .coming-soon-wrapper {
        width: 95%;
    }

}

@media screen and (max-width: 800px) {

    h1,
    h4,
    #about p {
        text-align: center;
    }

    .greeting-toolbox {
        display: none;
    }

    .greeting-wrapper {
        min-height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'greeting-box';
        background-color: var(--mainColor) !important;
        border: none !important;
    }

    .greeting-box {
        border: none !important;
        display: inline-block;
    }

    #greeting-popup {
        grid-template-rows: 1fr 18em 1fr;
    }

    #exit {
        display: none;
    }

    .skills-wrapper {
        width: 95%
    }

    .skills-message.hidden {
        display: inline-block !important;
        margin: 20px auto;
        font-family: var(--secondaryFont);
        letter-spacing: 1.2px;
        font-size: 14px;
        font-weight: 100;
        text-align: center;
        width: 100%;
    }

    #file-window {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 0 !important;
    }

    .projects-wrapper .pseudo-dropdown {
        display: none;
    }

    #project-filter {
        padding: 0;
        text-align: center;
    }

    #project-filter ul {
        display: inline-block !important;
        width: 100% !important;
    }

    #project-filter li {
        padding-top: 20px;
        padding-bottom: 20px !important;
    }

    #project-filter li:hover {
        border: none !important;
    }

    .active {
        border-bottom: 0 !important;
        background-color: #C5CFC2 !important;
        padding-bottom: 6px !important;
        width: auto;
    }

    .project-card {
        justify-content: center !important;
        margin-top: 10%;
    }

    .project-card div {
        width: 80%;
    }

    .project-card-about {
        margin: 20px 10px;
    }

    .tags {
        flex-wrap: wrap;
    }

    .contact-container {
        width: 75%;
    }

    .contact-wrapper .name {
        display: inline-block !important;
        margin: 0 !important;
        width: 100%;
    }

    .name div {
        margin-right: 0 !important;
    }

    #post {
        overflow-x: hidden;
    }

    #post p {
        text-align: center;
    }

    #post div.navbar-post .flex {
        justify-content: center;
    }

    #post .navbar .main-container {
        width: auto;
    }

    #post .navbar #theme-icon {
        display: none;
    }

    .technologies-post-wrapper div {
        justify-content: center;
    }

    .showcase-links {
        display: flex;
        justify-content: center;
    }

    .showcase-cards {
        display: inline-block;
        width: 100%;
    }

    .showcase-images-container {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .project-card div {
        width: 90%;
    }

    .contact-container {
        width: 95%;
    }
}